body{
	background-color:#232323;
	margin:0;
	font-family: "serif",

}

.square{
	width:30%;
	background:purple;
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
	border-radius: 15%;
	transition: background 0.7s;

}

#container{
	margin:29px auto;
	max-width: 600px;
	
}

#message{
	display:inline-block;
	width:20%;
}


h1{
	font-weight: normal;
	text-align: center;
	color:white;
	background: steelblue;
	margin:0;
	text-transform: uppercase;
	padding:20px 0;
	line-height: 1.1;
}


#colorDisplay{
	font-size:200%;
}


#stripe{
	background:white;
	text-align: center;
	height:30px;
	color:black;
}

.selected{
	color:white;
	background:steelblue;
}
button{
	border:none;
	background: none;
	text-transform: uppercase; 
	height:100%;
	font-weight: 700;
	color:steelblue;
	letter-spacing:1px;
	font-size:inherit;
	transiton:all 0.3s;
	outline:none;
}
button:hover{
	color:white;
	background:steelblue;
}